<ion-content>
  <ion-card class="booking-form">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title style="font-size: large;text-align: center;">WELCOME TO AIRFOOD</ion-card-title>
          <br>
          <ion-card-title>ABOUT AIRFOOD </ion-card-title>
          <ion-card-subtitle>
            Airfood is synonymous with innovation and convenience as well as a full tummy of course. You need a quick
            and effortless way to book? Don’t worry, we have your back. The safety and comfort of our guests is of
            utmost importance to us. We endeavor to always keep our guests happy by offering pleasant flights at
            affordable rates.
          </ion-card-subtitle>
          <br>

          <br>
          <ion-card-title>OUR MISSION </ion-card-title>
          <ion-card-subtitle>
            To globalize the online booking system with the priority of being the first choice in delivering quality
            customer services. We aim to provide satisfaction for customers to book flights ticket along with their
            desired meal.
          </ion-card-subtitle>
          <br>

          <br>
          <ion-card-title>OUR VISION </ion-card-title>
          <ion-card-subtitle>
            South-Africa’s leading airline.  
          </ion-card-subtitle>
          <br>

          <br>
          <ion-card-title>OUR OBJECTIVE </ion-card-title>
          <ion-card-subtitle>
            <ul>
              <li>Provide excellent customer services </li>
              <li>Faster performance excellence </li>
              <li>Cut costs</li>
              <li>Customer satisfaction </li>
            </ul>
          </ion-card-subtitle>
          <br>

          <br>
          <ion-card-title>OUR VALUES </ion-card-title>
          <ion-card-subtitle>
            <br>
           <strong>Customer Focused</strong>
           <br>
Striving to meet the unique needs of our customers. . 
<br><br>
 <strong>Integrity</strong> <br>

Practicing highest standards of ethical behavior in all our work and maintaining credibility by ensuring our actions match our words. 
<br><br>
 <strong>Safety</strong> <br>

Living our safety philosophy by striving for zero safety incidents through risk management and adherence to safety regulations at all times. 
<br><br>
<strong>Excellence In Performance </strong> <br>

Setting goals beyond the best, reinforcing high quality performance standards and achieving excellence.  
<br><br>
 <strong>Valuing Our People</strong> <br>

Committing to their satisfaction, development, and well-being 
          </ion-card-subtitle>
          <br>

        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
</ion-content>