<ion-content>

  <ion-row  class="booking-form">
    <ion-header>
      
      <ion-searchbar [(ngModel)]="searchText" (ngModelChange)="init()" showCancelButton="focus"></ion-searchbar>
    </ion-header>
  </ion-row>

  <div  class="booking-form">
    <ion-list-header>Tickets ({{count}})</ion-list-header>
    <ion-row  style="border-bottom: groove;" *ngFor="let item of users;">
      <ion-col >
        <ion-item lines="none">
          <ion-icon  color="success" slot="" name="airplane-outline"></ion-icon>
          <ion-title style="text-align: left;">{{item.airport_name}}</ion-title>
        </ion-item>
      </ion-col>

      <ion-col >
        <ion-item lines="none">
          <ion-title style="text-align: center;">{{item.boarding_time}}</ion-title>
        </ion-item>
      </ion-col>

      <ion-col >
        <ion-item lines="none">
          <ion-title style="text-align: right;">{{item.flight_no}}</ion-title>
        </ion-item>
      </ion-col>

      <ion-col >
        <ion-item lines="none">
          <ion-title style="text-align: right;">Seat :{{item.seat}}</ion-title>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

</ion-content>