<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-item lines="none" >
        <ion-item lines="none" slot="start">
          <ion-title slot="start" routerLink="/home">
            {{title}}
          </ion-title>
          <ion-title>
            {{header}}
          </ion-title>
        </ion-item>
        <ion-item lines="none" slot="end">
          <ion-title >{{email}} </ion-title>
          <ion-icon *ngIf="role=='normal'" (click)='presentPopover()' slot='end' name="options-outline"></ion-icon>
          <ion-icon *ngIf="role=='admin'" (click)='presentPopover()' slot='end' name="options-outline"></ion-icon>
          
        </ion-item>
        
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
