ion-menu {
    --ion-background-color: var(--ion-color-light);
  
    ion-toolbar {
      --background: var(--ion-color-light);
    }

    ion-content{
        --background: var(--ion-color-light);
    }

   
  
    

    
}




