<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-item lines="none">
        <ion-item lines="none" slot="start">
          <ion-title slot="start" routerLink="/home">
            {{title}}
          </ion-title>
         
        </ion-item>
        <ion-item lines="none" slot="end">
          <ion-title *ngIf="isLoggedIn && role=='admin'">(Admin) </ion-title>
          <ion-icon *ngIf="isLoggedIn && role=='normal'" (click)="presentOptions0()"  slot='end' name="options-outline"></ion-icon>
          <ion-icon *ngIf="role=='admin' && isLoggedIn"  (click)="presentOptions0()" slot='end' name="options-outline"></ion-icon>
        </ion-item>

      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>