<ion-content fullscreen>
  <ion-grid>
    <div class="booking-form">
      <ion-col>

        <div class="txt-center">

          <ion-icon style="font-size: 55px;" name="person-circle-outline"></ion-icon>
          <br>
          <strong>Profile</strong>
          <br>

          <ion-label color="dark">Seasons change, so does reasons to your details </ion-label>
          <br>
          <br>
        </div>
        <form [formGroup]="profileForm">
          <ion-row>
            <ion-col>
              <ion-input formControlName="names" type="text" required placeholder="Names"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input formControlName="surname" type="text" required placeholder="Surname"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-input formControlName="email" type="text" required placeholder="Email"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input formControlName="cell" type="text" required placeholder="Phone Number"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-datetime class="txt-center" style="text-align: center;border: 1px solid #3880ff;border-radius: 5px;"
                formControlName="dob" placeholder="Date Of Birth" displayFormat="YYYY-MM-DD" max="2002">
              </ion-datetime>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Gender:</ion-label>
                <ion-select formControlName="gender" value="select" okText="Okay" cancelText="Dismiss">
                  <ion-select-option value="male">male</ion-select-option>
                  <ion-select-option value="female">female</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Province:</ion-label>
                <ion-select formControlName="province" value="select" okText="Okay" cancelText="Dismiss">
                  <ion-select-option *ngFor='let province of Province' value='{{province}}'>{{province}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>


            <ion-col>
              <ion-button class="txt-center" (click)="doUpdatetUser()" color="primary">Update profile</ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="txt-center" (click)="changePass()" color="secondary">Change Password</ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="txt-center" (click)="deactivate()" color="warning">Deactivate Account</ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="txt-center" (click)="deregister()" color="danger">Delete Account</ion-button>
            </ion-col>

        </form>
      </ion-col>
    </div>
  </ion-grid>
</ion-content>