<ion-content fullscreen id="main" >
  <ion-grid>
    <div *ngIf="current_page_type=='flight'" class="login-form">
      <ion-col>
        <div class="txt-center">
          <ion-icon style="font-size: 55px;" name="airplane-outline"></ion-icon>
          <br>
          <strong>Flight</strong>
          <br>
          <ion-label color="dark">You don't Always need wings to fly!, we got that covered </ion-label>
          <br>
          <br>
        </div>
        <form [formGroup]="flightForm" (ngSubmit)="proceed()">

          <ion-item>
            <ion-label>From:</ion-label>
            <ion-select formControlName="from" value="select" okText="Okay" cancelText="Dismiss">
              <ion-select-option *ngFor="let item of destination_list;">{{item}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>To:</ion-label>
            <ion-select ion-item [class.highlight]="item" formControlName="to" value="select" okText="Okay" cancelText="Dismiss">
              <ion-select-option *ngFor="let item of destination_list;">{{item}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Depart:</ion-label>
            <ion-item>
              <ion-datetime formControlName="depart" displayFormat="MMMM/DD/YYYY" [min]="minDate" [max]="maxDate">
              </ion-datetime>
            </ion-item>
          </ion-item>

          <ion-item>
            <ion-label>Return:</ion-label>
            <ion-item>
              <ion-label position="floating"></ion-label>
              <ion-datetime formControlName="return" displayFormat="MMMM/DD/YYYY" [min]="minDate" [max]="maxDate"
                placeholder="One Way"></ion-datetime>
            </ion-item>
          </ion-item>

          <ion-item>
            <ion-label>Class:</ion-label>
            <ion-select formControlName="_class" value="select" okText="Okay" cancelText="Dismiss">
              <ion-select-option>First Class</ion-select-option>
              <ion-select-option>Economy Class</ion-select-option>
              <ion-select-option>Business Class</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label slot="start">
              Adults:
            </ion-label>
            <ion-input slot="end" style="text-align: right;" formControlName="adults" type="number" min="1" max="10" value="1"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label slot="start">
              Children (under 12):
            </ion-label>
            <ion-input slot="end" style="text-align: right;"  formControlName="children" type="number" min="1" max="10" value="0"></ion-input>
          </ion-item>
          <ion-button  type="submit" color="primary">Proceed</ion-button>
        </form>
      </ion-col>
    </div>

    <div *ngIf="current_page_type=='meals'" class="login-form">
      <ion-col>
        <div class="txt-center">
          <ion-icon style="font-size: 55px;" name="fast-food-outline"></ion-icon>
          <br>
          <strong>Meals</strong>
          <br>
          <ion-label color="dark">Let's Dine aboard!</ion-label>
          <br>
          <br>
        </div>
        <form [formGroup]="flightForm" (ngSubmit)="proceed()">

          <ion-button class="txt-center" (click)="showPicker()" color="light">Choose a Meal or beverage</ion-button>
          <ion-list-header>
            <ion-label><strong>Selected Meals</strong></ion-label>
          </ion-list-header>
          <ion-list *ngFor="let item of selectedMeals;let i = index">
            <ion-item lines="none" slot="start">
              <ion-label slot="start" readonly>{{item.meal.text}}</ion-label>
              <ion-item lines="none" slot="end">
                <ion-label>
                  Qty: {{item.qty.value}}
                </ion-label>
                <!-- <ion-icon (click)="removeItem(i)" style="font-size: 30px;" name="close-outline"></ion-icon> -->
              </ion-item>
            </ion-item>
          </ion-list>

          <ion-button class="txt-center" type="submit" routerLink="/home" color="primary">Proceed</ion-button>
          <ion-button (click)="restMeals()" class="txt-center" color="light">Reset</ion-button>
        </form>
      </ion-col>
    </div>

    <div *ngIf="current_page_type=='booking'" class="booking-form">
      <div class="txt-center">
        <br>
        <ion-icon style="font-size: 55px;" name="document-text-outline"></ion-icon>
        <br>
        <strong>Booking Details</strong>
        <br>
        <ion-label color="dark">Almost There!</ion-label>
      </div>
      <ion-row>
        <ion-col>
          <form [formGroup]="bookingForm" (ngSubmit)="proceed()">
            <ion-list-header>
              <ion-label><strong>Flight Details</strong></ion-label>
            </ion-list-header>
            <ion-list>
              <ion-item lines='full'>
                <ion-label slot="start">From: </ion-label>
                <ion-label slot="">{{from}}</ion-label>
              </ion-item>
              <ion-item lines='full'>
                <ion-label slot="start">To: </ion-label>
                <ion-label slot="">{{to}}</ion-label>
              </ion-item>
              <ion-item lines='full'>
                <ion-label slot="start">Depart: </ion-label>
                <ion-label slot="">{{depart}}</ion-label>
              </ion-item>
              <ion-item lines='full'>
                <ion-label slot="start">Return: </ion-label>
                <ion-label slot="">{{return}}</ion-label>
              </ion-item>
              <ion-item lines='full'>
                <ion-label slot="start">Class: </ion-label>
                <ion-label slot="">{{_class}}</ion-label>
              </ion-item>
              <ion-item lines='full'>
                <ion-label slot="start">Adults: </ion-label>
                <ion-label slot="">{{adults}}</ion-label>
              </ion-item>
              <ion-item lines='full'>
                <ion-label slot="start">Children (under 12): </ion-label>
                <ion-label slot="">{{children}}</ion-label>
              </ion-item>
            </ion-list>
          </form>
        </ion-col>
        <ion-col *ngIf="booking_meals">
          <form [formGroup]="bookingForm" (ngSubmit)="proceed()">
            <ion-list-header>
              <ion-label><strong>Selected Meals</strong></ion-label>
            </ion-list-header>
            <ion-list *ngFor="let item of booking_meals;let i = index">
              <ion-item lines="none" slot="start">
                <ion-label slot="start" readonly>{{item.meal.text}}</ion-label>
                <ion-item lines="none" slot="end">
                  <ion-label>
                    Qty: {{item.qty.value}}
                  </ion-label>
                  <!-- <ion-icon (click)="removeItem(i)" style="font-size: 30px;" name="close-outline"></ion-icon> -->
                </ion-item>
              </ion-item>
            </ion-list>
          </form>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="txt-center">
            <strong>
              Flight total: R{{flight_price}}
            </strong>
          </div>
        </ion-col>
        <ion-col *ngIf="booking_meals">
          <div class="txt-center">
            <strong>
              Meals total: R{{meal_tot}}
            </strong>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="booking()">
            Confirm and Book
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="cancelOrder()" color="light">
            Cancel Booking
          </ion-button>
        </ion-col>
      </ion-row>



    </div>


    <div *ngIf="current_page_type=='payment'" class="login-form">
      <ion-col>
        <div class="txt-center">
          <ion-icon style="font-size: 55px;" name="card-outline"></ion-icon>
          <br>
          <strong>Payment</strong>
          <br>
          <ion-label color="dark">Well we can't all fly for free!</ion-label>
          <br>
          <br>
        </div>
        <form [formGroup]="paymentForm" >

          <ion-col>
            <ion-label>Card Number:</ion-label>
            <ion-input mask="0000 0000 0000 0000" placeholder="xxxx-xxxx-xxxx-xxxx" style="text-align: center;border: 1px solid #3880ff;border-radius: 5px;" formControlName="card_number" type="number"></ion-input>
          </ion-col>

          <ion-col>
            <ion-label>Card Holders:</ion-label>
            <ion-input formControlName="card_holder" type="text"></ion-input>
          </ion-col>

          <ion-col>
            <ion-item lines="none">
              <ion-label  slot="start">Expiration Date</ion-label>
              <ion-label slot="end">CVV</ion-label>
            </ion-item>
          </ion-col>

          <ion-row>
            <ion-col>
              <ion-datetime style="text-align: center;border: 1px solid #3880ff;border-radius: 5px;" formControlName="card_expYear" placeholder="YYYY" displayFormat="YYYY" min="2015"
                max="2026"></ion-datetime>
            </ion-col>
            <ion-col>
              <ion-datetime style="text-align: center;border: 1px solid #3880ff;border-radius: 5px;" formControlName="card_expMonth" placeholder="MM" displayFormat="MM"></ion-datetime>
            </ion-col>
            <ion-col>
              <ion-input style="text-align: center;border: 1px solid #3880ff;border-radius: 5px;" formControlName="card_cvv" type="number" placeholder="CVV" max="3"></ion-input>
            </ion-col>
          </ion-row>

          <ion-button class="txt-center" (click)="pay()" color="primary">Submit</ion-button>

        </form>
      </ion-col>
    </div>


  </ion-grid>
</ion-content>