<ion-content fullscreen id="main">
    <ion-grid>

        <div *ngIf="current_page_type=='flight'" class="login-form">
            <ion-col>
                <div class="txt-center">
                    <ion-icon style="font-size: 55px;" name="airplane-outline"></ion-icon>
                    <br>
                    <strong>Flight</strong>
                    <br>
                    <ion-label color="dark">You don't Always need wings to fly!, we got that covered </ion-label>
                    <br>
                    <br>
                </div>

                <form [formGroup]="flightForm" (ngSubmit)="proceed($event)">
                    <div class="segment1">
                        <ion-segment [(ngModel)]="flight_type" formControlName="flight_type" scrollable>

                            <ion-segment-button value="One Way Trip" checked>
                                <ion-label>One Way Trip</ion-label>
                            </ion-segment-button>

                            <ion-segment-button value="Round Trip">
                                <ion-label>Round Trip</ion-label>
                            </ion-segment-button>
                        </ion-segment>
                    </div>
                    <ion-item>
                        <ion-label>From:</ion-label>
                        <ion-select formControlName="from" value="select" (ionChange)="selectedFromFunction($event)" okText="Okay" cancelText="Dismiss">
                            <ion-select-option *ngFor="let item of destination_list;" [disabled]="item == selectedTo" (click)="getSelectedFromLocation(item)">{{item}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label>To:</ion-label>
                        <ion-select formControlName="to" value="select" okText="Okay" (ionChange)="selectedToFunction($event)" cancelText="Dismiss">
                            <ion-select-option *ngFor="let item of destination_list;" [disabled]="item == selectedFrom" (click)="getSelectedToDestination(item)">{{item}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label>Departure Date:</ion-label>
                        <ion-item>
                            <ion-datetime formControlName="depart" (ionChange)="selectedDepatDate($event)" displayFormat="MMMM/DD/YYYY" [min]="minDate" [max]="maxDate">
                            </ion-datetime>
                        </ion-item>
                    </ion-item>

                    <ion-item *ngIf="(flight_type == 'Round Trip')">
                        <ion-label>Return Date:</ion-label>
                        <ion-item>
                            <ion-datetime formControlName="return" displayFormat="MMMM/DD/YYYY" [min]="minDate" [max]="maxDate" style="color: primary;"></ion-datetime>
                        </ion-item>
                    </ion-item>
                    <ion-item>
                        <ion-label>Class:</ion-label>
                        <ion-select formControlName="_class" value="select" okText="Okay" cancelText="Dismiss">
                            <ion-select-option>First Class</ion-select-option>
                            <ion-select-option>Economy Class</ion-select-option>
                            <ion-select-option>Business Class</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label>
                            Adults:
                        </ion-label>
                        <ion-label>{{adults}}</ion-label>
                        <ion-range [(ngModel)]="adults" formControlName="adults" min="1" max="10" step="1" snaps="true" color="secondary">
                            <ion-icon (click)="removeAdult()" size="small" slot="start" name="remove"></ion-icon>
                            <ion-icon (click)="addAdult()" slot="end" name="add"></ion-icon>
                        </ion-range>
                    </ion-item>

                    <ion-item>
                        <ion-label>
                            Children :
                        </ion-label>
                        <ion-label>{{children}}</ion-label>
                        <ion-range [(ngModel)]="children" formControlName="children" min="0" max="10" step="1" snaps="true" color="secondary">
                            <ion-icon (click)="removeChildren()" size="small" slot="start" name="remove"></ion-icon>
                            <ion-icon (click)="addChildren()" slot="end" name="add"></ion-icon>
                        </ion-range>
                    </ion-item>
                    <ion-button type="submit" color="primary">Proceed</ion-button>
                </form>
            </ion-col>
        </div>

        <div *ngIf="current_page_type=='availableFlights'" class="login-form avilablie">
            <ion-col>
                <div>
                    <div class="txt-center">

                        <ion-icon style="font-size: 55px;" name="airplane-outline"></ion-icon>
                        <br>
                        <strong>Available Flights</strong>
                    </div>

                    <div *ngIf="flight_type == 'One Way Trip'">
                        <ion-card class="card-info-wrapper" *ngIf="oneWayAvailableFlights.length==0">
                            <ion-icon color="warning" name="warning"></ion-icon> No flights available! This may be due to existing travel bans. Please revise your search criteria.
                        </ion-card>
                    </div>


                    <div *ngIf="flight_type == 'Round Trip'">
                        <ion-card class="card-info-wrapper" *ngIf="returnAvailableFlights.length==0">
                            <ion-icon color="warning" name="warning"></ion-icon> No flights available! This may be due to existing travel bans. Please revise your search criteria.
                        </ion-card>
                    </div>

                    <ion-card *ngFor="let item of oneWayAvailableFlights">
                        <div class="card-info-wrapper">
                            <div>
                                Depart : {{item.depart}}
                            </div>
                            <!---->
                            <div class="ts-itin__info ts-itin__info--extended">
                                <div class="ts-itin__routes">
                                    <div class="ts-itin__odo ts-itin__odo--departure">
                                        <span class="ts-itin__airport"> {{item.time_slot | slice : 0 : 5 }}</span>
                                        <span class="ts-itin__time ts-itin__departure"> {{item.from_abbr}}</span>
                                    </div>
                                    <div class="ts-itin__extras">
                                        <div class="ts-itin-line">
                                            <!---->
                                            <!---->
                                            <!---->
                                        </div>
                                        <div class="container ts-itin-extra__wrapper">
                                            <span class="ts-itin-extra ts-itin-extra__stops">

                                            </span><span class="ts-itin-extra ts-itin-extra__duration">
                                                <!----><span></span>&nbsp;
                                            </span>

                                        </div>
                                    </div>
                                    <div class="ts-itin__odo ts-itin__odo--arrival">
                                        <span class="ts-itin__airport"><span> {{item.time_slot_land | slice : 0 : 5
                                                }}</span>
                                        <!---->
                                        </span><span class="ts-itin__time ts-itin__time--arrival">
                                            {{item.to_abbr}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ts-card__actions ts-card__actions--line-top">
                            <!----><span class="ts-card__action ts-card__action--price">
                                <!----><span class="ts-card__action__amount">&nbsp;</span>
                            <!---->
                            </span>
                            <span (click)="proceed(item)" class="ts-card__action ts-card__action--last align-end">
                                Book
                            </span>
                        </div>
                    </ion-card>

                    <ion-card *ngFor="let item of returnAvailableFlights" class="return_color">
                        <div class="card-info-wrapper">
                            <div>
                                Depart : {{item.depart}}
                            </div>
                            <!---->
                            <div class="ts-itin__info ts-itin__info--extended">
                                <div class="ts-itin__routes">
                                    <div class="ts-itin__odo ts-itin__odo--departure">
                                        <span class="ts-itin__airport"> {{item.time_slot | slice : 0 : 5 }}</span>
                                        <span class="ts-itin__time ts-itin__departure"> {{item.from_abbr}}</span>
                                    </div>
                                    <div class="ts-itin__extras">
                                        <div class="ts-itin-line">
                                            <!---->
                                            <!---->
                                            <!---->
                                        </div>
                                        <div class="container ts-itin-extra__wrapper">
                                            <span class="ts-itin-extra ts-itin-extra__stops">

                                            </span><span class="ts-itin-extra ts-itin-extra__duration">
                                                <!----><span></span>&nbsp;
                                            </span>

                                        </div>
                                    </div>
                                    <div class="ts-itin__odo ts-itin__odo--arrival">
                                        <span class="ts-itin__airport">
                                            <span>
                                                {{item.time_slot_land | slice : 0 : 5}}</span>
                                        <!---->
                                        </span>
                                        <span class="ts-itin__time ts-itin__time--arrival">
                                            {{item.to_abbr}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-info-wrapper card-info-wrapper_return">
                            <div>
                                Return : {{item.return}}
                            </div>
                            <!---->
                            <div class="ts-itin__info ts-itin__info--extended">
                                <div class="ts-itin__routes">
                                    <div class="ts-itin__odo ts-itin__odo--departure">
                                        <span class="ts-itin__airport"> {{item.return_time_slot | slice : 0 : 5}}</span>
                                        <span class="ts-itin__time ts-itin__departure"> {{item.to_abbr}}</span>
                                    </div>
                                    <div class="ts-itin__extras">
                                        <div class="ts-itin-line">
                                            <!---->
                                            <!---->
                                            <!---->
                                        </div>
                                        <div class="container ts-itin-extra__wrapper">
                                            <span class="ts-itin-extra ts-itin-extra__stops">

                                            </span><span class="ts-itin-extra ts-itin-extra__duration">
                                                <!----><span></span>&nbsp;
                                            </span>

                                        </div>
                                    </div>
                                    <div class="ts-itin__odo ts-itin__odo--arrival">
                                        <span class="ts-itin__airport"><span> {{item.return_time_slot_land | slice :
                                                0 : 5 }}</span>
                                        <!---->
                                        </span><span class="ts-itin__time ts-itin__time--arrival">
                                            {{item.from_abbr}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="ts-card__actions ts-card__actions--line-top">
                            <!----><span class="ts-card__action ts-card__action--price">
                                <!----><span class="ts-card__action__amount">&nbsp;</span>
                            <!---->
                            </span>
                            <span (click)="proceed(item)" class="ts-card__action ts-card__action--last align-end">
                                Book
                            </span>
                        </div>
                    </ion-card>

                </div>
            </ion-col>

            <ion-row>
                <ion-col>
                    <ion-button (click)="search()" color="primary">
                        Search
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="cancelOrder()" color="danger">
                        Cancel Booking
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>

        <div *ngIf="current_page_type=='meals'" class="login-form">
            <ion-col>
                <div class="txt-center">
                    <ion-icon style="font-size: 55px;" name="fast-food-outline"></ion-icon>
                    <br>
                    <strong>Meals</strong>
                    <br>
                    <ion-label color="dark">Let's Dine aboard!</ion-label>
                    <br>
                    <br>
                </div>
                <form [formGroup]="flightForm" (ngSubmit)="proceed($event)">
                    <ion-row>
                        <ion-col>
                            <ion-button class="txt-center" (click)="showPickerDepart()" color="secondary">
                                <ion-icon name="add"></ion-icon>
                                Choose a Meal or beverage
                            </ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-list-header>
                        <ion-label><strong>Selected Depart Meals</strong></ion-label>
                    </ion-list-header>
                    <ion-list *ngFor="let item of selectedMealsDepart;let i = index">
                        <ion-item lines="none" slot="start">
                            <ion-label slot="start" readonly>{{item.meal.text}}</ion-label>
                            <ion-text slot="end">Qty: {{item.qty.value}}</ion-text>
                            <ion-text slot="end">R {{item.qty.value *item.meal.value}}</ion-text>
                            <ion-icon name="trash" slot="end" color="danger" (click)="removeMealsDepart(i)"></ion-icon>
                        </ion-item>

                    </ion-list>

                    <div *ngIf="flight_type == 'Round Trip'">
                        <ion-row>
                            <ion-col>
                                <ion-button class="txt-center" (click)="showPickerReturn()" color="secondary">
                                    <ion-icon name="add"></ion-icon>
                                    Choose a Meal or beverage
                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-list-header>
                            <ion-label><strong>Selected Return Meals</strong></ion-label>
                        </ion-list-header>
                        <ion-list *ngFor="let item of selectedMealsReturn;let i = index">
                            <ion-item lines="none" slot="start">
                                <ion-label slot="start" readonly>{{item.meal.text}}</ion-label>
                                <ion-text slot="end">Qty: {{item.qty.value}}</ion-text>
                                <ion-text slot="end">R {{item.qty.value *item.meal.value}}</ion-text>
                                <ion-icon name="trash" slot="end" color="danger" (click)="removeMealsReturn(i)">
                                </ion-icon>
                            </ion-item>
                        </ion-list>
                    </div>


                    <ion-row>
                        <ion-col>
                            <ion-button class="txt-center" type="submit" routerLink="/home" color="primary">Proceed
                            </ion-button>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-button (click)="restMeals()" class="txt-center" color="warning">Reset</ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button (click)="cancelOrder()" color="danger">
                                Cancel Booking
                            </ion-button>
                        </ion-col>
                    </ion-row>

                </form>
            </ion-col>
        </div>

        <div *ngIf="current_page_type=='booking'" class="booking-form">
            <div class="txt-center">
                <br>
                <ion-icon style="font-size: 55px;" name="document-text-outline"></ion-icon>
                <br>
                <strong>Booking Details</strong>
                <br>
                <ion-label color="dark">Almost There!</ion-label>
            </div>
            <ion-row>
                <ion-col>
                    <form [formGroup]="bookingForm" (ngSubmit)="proceed($event)">
                        <ion-list-header>
                            <ion-label><strong>Flight Details</strong></ion-label>
                        </ion-list-header>
                        <ion-list>
                            <ion-item lines='full'>
                                <ion-label slot="start">From: </ion-label>
                                <ion-label slot="">{{from}}</ion-label>
                            </ion-item>
                            <ion-item lines='full'>
                                <ion-label slot="start">To: </ion-label>
                                <ion-label slot="">{{to}}</ion-label>
                            </ion-item>
                            <ion-item lines='full'>
                                <ion-label slot="start">Depart: </ion-label>
                                <ion-label slot="">{{depart}}</ion-label>
                            </ion-item>
                            <ion-item lines='full'>
                                <ion-label slot="start">Return: </ion-label>
                                <ion-label slot="">{{return}}</ion-label>
                            </ion-item>
                            <ion-item lines='full'>
                                <ion-label slot="start">Class: </ion-label>
                                <ion-label slot="">{{_class}}</ion-label>
                            </ion-item>
                            <ion-item lines='full'>
                                <ion-label slot="start">Adults: </ion-label>
                                <ion-label slot="">{{adults}}</ion-label>
                            </ion-item>
                            <ion-item lines='full'>
                                <ion-label slot="start">Children (under 12): </ion-label>
                                <ion-label slot="">{{children}}</ion-label>
                            </ion-item>
                            <ion-item lines='full'>
                                <ion-label slot="start">Departure Time: </ion-label>
                                <ion-label slot="">{{time_slot}}</ion-label>
                            </ion-item>
                            <ion-item lines='full'>
                                <ion-label slot="start">Return Time: </ion-label>
                                <ion-label slot="">{{return_time_slot}}</ion-label>
                            </ion-item>
                        </ion-list>
                    </form>
                </ion-col>
                <ion-col *ngIf="booking_Depart_Meals.length != 0 || booking_Return_Meals.length != 0">
                    <form [formGroup]="bookingForm" (ngSubmit)="proceed($event)" *ngIf="booking_Depart_Meals.length != 0">
                        <ion-list-header>
                            <ion-label><strong>Selected Depart Meals</strong></ion-label>
                        </ion-list-header>
                        <ion-list *ngFor="let item of  booking_Depart_Meals;let i = index">
                            <ion-item lines="none" slot="start">
                                <ion-label slot="start" readonly>{{item.meal.text}}</ion-label>
                                <ion-item lines="none" slot="end">
                                    <ion-label>
                                        Qty: {{item.qty.value}}
                                    </ion-label>
                                    <!-- <ion-icon (click)="removeItem(i)" style="font-size: 30px;" name="close-outline"></ion-icon> -->
                                </ion-item>
                            </ion-item>
                        </ion-list>
                    </form>

                    <form [formGroup]="bookingForm" (ngSubmit)="proceed($event)" *ngIf="booking_Return_Meals.length != 0">
                        <ion-list-header>
                            <ion-label><strong>Selected Return Meals</strong></ion-label>
                        </ion-list-header>
                        <ion-list *ngFor="let item of  booking_Return_Meals;let i = index">
                            <ion-item lines="none" slot="start">
                                <ion-label slot="start" readonly>{{item.meal.text}}</ion-label>
                                <ion-item lines="none" slot="end">
                                    <ion-label>
                                        Qty: {{item.qty.value}}
                                    </ion-label>
                                    <!-- <ion-icon (click)="removeItem(i)" style="font-size: 30px;" name="close-outline"></ion-icon> -->
                                </ion-item>
                            </ion-item>
                        </ion-list>
                    </form>

                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="txt-center">
                        <strong>
                            Flight total: R{{flight_price}}
                        </strong>
                    </div>
                </ion-col>
                <ion-col *ngIf="booking_Depart_Meals.length != 0 || booking_Return_Meals.length != 0">
                    <div class="txt-center">
                        <strong>
                            Meals total: R{{meal_tot}}
                        </strong>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button (click)="booking()">
                        Confirm and Book
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="cancelOrder()" color="danger">
                        Cancel Booking
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>


        <div *ngIf="current_page_type=='payment'" class="login-form">
            <ion-col>
                <div class="txt-center">
                    <ion-icon style="font-size: 55px;" name="card-outline"></ion-icon>
                    <br>
                    <strong>Payment</strong>
                    <br>
                    <ion-label color="dark">Well we can't all fly for free!</ion-label>
                    <br>
                    <br>
                    <img src="../../assets/download2.jpg" />
                    <br>
                </div>
                <form [formGroup]="paymentForm">

                    <ion-col>
                        <ion-label>Card Number:</ion-label>
                        <ion-input mask="(999) 999-9999" placeholder="xxxx-xxxx-xxxx-xxxx" style="text-align: center;border: 1px solid #3880ff;border-radius: 5px;" formControlName="card_number" type="text"></ion-input>
                    </ion-col>

                    <ion-col>
                        <ion-label>Card holders name:</ion-label>
                        <ion-input autocomplete="cc-name" formControlName="card_holder" type="text"></ion-input>
                    </ion-col>

                    <ion-col>
                        <ion-item lines="none">
                            <ion-label slot="start">Expiration Date</ion-label>
                            <ion-label slot="end">CVV</ion-label>
                        </ion-item>
                    </ion-col>

                    <ion-row>
                        <ion-col>
                            <ion-datetime style="text-align: center;border: 1px solid #3880ff;border-radius: 5px;" formControlName="card_expYear" placeholder="YYYY" displayFormat="YYYY" min="{{minDate2}}" max="2027">
                            </ion-datetime>
                        </ion-col>
                        <ion-col>
                            <ion-datetime style="text-align: center;border: 1px solid #3880ff;border-radius: 5px;" formControlName="card_expMonth" [min]="minDate3" placeholder="MM" displayFormat="MM">
                            </ion-datetime>
                        </ion-col>
                        <ion-col>
                            <ion-input style="text-align: center;border: 1px solid #3880ff;border-radius: 5px;" formControlName="card_cvv" type="number" placeholder="CVV" max="3"></ion-input>
                        </ion-col>
                    </ion-row>

                    <ion-col>
                        <ion-button class="txt-center" (click)="pay()" color="primary">Submit</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button (click)="cancelOrder()" color="danger">
                            Cancel Booking
                        </ion-button>
                    </ion-col>
                </form>
            </ion-col>
        </div>

    </ion-grid>
</ion-content>